@model List<Weblab2.Models.Student>

<h2>Students List</h2>

@Html.ActionLink("New Student", "CreateStudent", "WebLab2", null, new { @class = "btn btn-default", style = "border: 1px solid #000;" })
 <div class="row" style="margin-bottom: 15px; margin-top: 15px">
    <div class="col-md-4"><b>Full Name</b></div>
    <div class="col-md-2"><b>Group</b></div>
    <div class="col-md-2"><b>Birth date</b></div>
     <div class="col-md-2"></div>
     <div class="col-md-1"></div>
     <div class="col-md-1"></div>
 </div>
@foreach (var student in Model)
{
    <div style="margin-bottom: 5px">
        <partial name="StudentOverviewPartial.cshtml" model="student"/>
    </div>
}